name: build-app

on:
    push:
        branches:
            - main
        paths:
            - version

permissions:
    contents: write

jobs:
    build_windows:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable

            - name: Build app
              run: cargo build --features bin_decrypt_truck -r

            - name: Upload executable
              uses: actions/upload-artifact@v4
              with:
                  name: decrypt_truck.exe
                  path: target/release/decrypt_truck.exe

    build_ubuntu:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable

            - name: Build app
              run: cargo build --features bin_decrypt_truck -r

            - name: Upload executable
              uses: actions/upload-artifact@v4
              with:
                  name: decrypt_truck
                  path: target/release/decrypt_truck

    build_macos:
        runs-on: macos-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable

            - name: Build app
              run: cargo build --features bin_decrypt_truck -r

            - name: Upload executable
              uses: actions/upload-artifact@v4
              with:
                  name: decrypt_truck_macos
                  path: target/release/decrypt_truck

    upload_release:
        runs-on: ubuntu-latest

        needs: [build_windows, build_ubuntu, build_macos]

        steps:
            - uses: actions/checkout@v4

            - name: Get the version
              run: echo "APP_VERSION=$(cat version)" >> $GITHUB_ENV

            - name: Download executable Windows
              uses: actions/download-artifact@v4
              with:
                  name: decrypt_truck.exe

            - name: Rename executable Windows
              run: |
                  mv "decrypt_truck.exe" "decrypt_truck_windows.exe"

            - name: Download executable Ubuntu
              uses: actions/download-artifact@v4
              with:
                  name: decrypt_truck

            - name: Rename executable Ubuntu
              run: |
                  mv "decrypt_truck" "decrypt_truck_ubuntu"

            - name: Download executable MacOS
              uses: actions/download-artifact@v4
              with:
                  name: decrypt_truck_macos

            - name: Rename executable MacOS
              run: |
                  mv "decrypt_truck" "decrypt_truck_macos"

            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                  name: Release ${{ env.APP_VERSION }}
                  tag_name: ${{ env.APP_VERSION }}
                  draft: true
                  files: |
                      decrypt_truck_windows.exe
                      decrypt_truck_ubuntu
                      decrypt_truck_macos
